
<html>


<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<!-- for game title font -->
<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">


<body>
<div>
    <div>
        <h1 id="gameTitle"> Aces Up! Solitare </h1>
    </div>
    <div class="cardsContainer">
        <div class="cardColumn">
            <div class="cardsHolder column1">

            </div>
            <button id="Remove1">Column1</button>
        </div>
        <div class="cardColumn">
            <div class="cardsHolder column2">

            </div>
            <button id="Remove2">Column2</button>
        </div>
        <div class="cardColumn">
            <div class="cardsHolder column3">

            </div>
            <button id="Remove3">Column3</button>
        </div>
        <div class="cardColumn">
            <div class="cardsHolder column4">

            </div>
            <button id="Remove4">Column4</button>
        </div>
    </div>
    <div id="bottomBox">
        <div id="bottomBox1" class="bottomBoxContent">
            hello
        </div>
        <div id="bottomBox2" class="bottomBoxContent">
            <button id="dealButton"><div class="dealButtonPlus">+</div></button>

            <BR>Move from column <input type="text" id="from_col"  /> to <input type="text" id="to_col"  /> <button id="moveButton">Move</button>
        </div>
        <div id="bottomBox3" class="bottomBoxContent">
            hello
        </div>
    </div>
</div>
<script>

function createCardDiv(cardText) {
    var div = document.createElement("div");
    div.classList.add("card");
    div.innerHTML = cardText;
    return div;
}

function updateCards(game) {
    for(var i = 0; i < 4; i++) {
        var column = $(".cardsHolder.column" + (i + 1))[0];
        column.innerHTML = "";

        for(var j = 0; j < game.cols[i].length; j++) {
            var card = game.cols[i][j];
            var cardDiv = createCardDiv(card.value + " " + card.suit);
            column.appendChild(cardDiv);
        }
    }
}

var game;

function display(game) {
console.log(game);

updateCards(game);

}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


</script>
